[submodule "mefdn/external/cmdline"]
	path = mefdn/external/cmdline
	url = https://github.com/tanakh/cmdline
[submodule "mefdn/external/fmt"]
	path = mefdn/external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "mefdn/external/googletest"]
	path = mefdn/external/googletest
	url = https://github.com/google/googletest.git
[submodule "meult/external/massivethreads"]
	path = meult/external/massivethreads
	url = https://github.com/endowataru/massivethreads
[submodule "medev2/external/ucx"]
	path = medev2/external/ucx
	url = https://github.com/openucx/ucx.git
