[submodule "mefdn/external/fmt"]
	path = mefdn/external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "medev2/external/ucx"]
	path = medev2/external/ucx
	url = https://github.com/openucx/ucx.git
[submodule "cmpth/external/doctest"]
	path = cmpth/external/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "cmpth/external/massivethreads"]
	path = cmpth/external/massivethreads
	url = https://github.com/endowataru/massivethreads.git
	branch = fix/uncond_funcs
[submodule "cmpth/external/massivelogger"]
	path = cmpth/external/massivelogger
	url = https://github.com/massivethreads/massivelogger.git
