[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/cmdline"]
	path = external/cmdline
	url = https://github.com/tanakh/cmdline
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
